# Use this on the Wasmer server (fill in your own database values).
# Set CI_ENVIRONMENT = development only while debugging, then back to production.
CI_ENVIRONMENT = production

 app.baseURL = 'https://todo-app-ci4.wasmer.app/'
app.indexPage = ''

database.default.hostname =db.fr-roub1.bengt.wasmernet.com
database.default.database = todo_app_ci4
database.default.username = user_c9ebfdce
database.default.password = pw_FdilkxZ3ScXqpS6b2AXX4DKF32bEJZPZ
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 20184
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci
